

.completed-task{
  text-decoration: line-through;
  color: grey;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
}

div {
  padding: 5px;
  max-width: 500px;
  margin: auto;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h1 {
  font-family: cursive;
  font-size: 2.5rem;
  color: #2d3436;
}

/* Time display */
.timezone {
  text-align: center;
  color: #636e72;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Form styles */
form {
  display: flex;
  gap: 10px;
}

form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #b2bec3;
  border-radius: 8px;
  outline: none;
}

form input:focus {
  border-color: #0984e3;
}

form button {
  padding: 10px 15px;
  border: none;
  background: #0984e3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #74b9ff;
}

/* Task list */
ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: flex;
   align-items: center;
  justify-content: space-between; 
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #dfe6e9;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

li:hover {
  background: #f1f2f6;
}

/* Task text */

li p {
  margin: 0;
  font-size: 17px;
  color: #2d3436;
  width: 350px;
  font-family: cursive;

}




/* Buttons inside task */
li button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

li button:first-of-type {
  background: #55efc4;
  color: #2d3436;
}

li button:first-of-type:hover {
  background: #00b894;
  color: white;
}

li button:last-of-type {
  background: #d63031;
  color: white;
}

li button:last-of-type:hover {
  background: #ff7675;
}

/* Clear all button */
div > button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #e17055;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

div > button:hover {
  background: #ff7675;
  transform: scale(1.1);
}
